<!DOCTYPE html>
<html>
<head>
    <title>Sign in</title>
</head>
<body>
    <h2>Sign in</h2>
    <form action="/signin" method="POST">
        <label for="user_id">User ID:</label>
        <input type="text" id="user_id" name="user_id" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Sign In</button>
    </form>
</body>
</html>
